/*       __                    __                                    
        |                        |        
                stylesheet                                          
	 Notes:                                                                                                                           
                                                                  
                                                                                  
	
        |_                      _|      
                                          
/* body */                                                
body {
background: #000000; 
color: #c08e8e;
font-family: monospace;
font-weight: 400px;
font-size: 10pt;
padding-left: 1em;
padding-right: 1em;
padding-top: 1px;
padding-bottom: 45px;
		}
/* italics */
i {
/*
background: #373b41; */
background: #282a2e;
/*color: #c08e8e;*/
color: #000;
text-align: left;
font-family: monospace;
font-weight: 400px;
font-size: 9pt;
}

.button1 {
font-family: monospace;
font-weight: 900px;
  margin-top: 0%;
  margin-bottom: 0%;
  display: inline-block;
  cursor: crosshair;
  /* padding: 0px 0px; */
  font-size: 125%;
  background-color: #111110; 
  color: #c08e8e; 
  border: 1px solid 282a2e;
}
.button1:hover {
 background-color: #000;
  color: oldlace;
   border: 0px solid #161616;
}
.button111 {
  margin-top: 0%;
  margin-bottom: 0%;
  display: inline-block;
  cursor: crosshair;
  /* padding: 0px 0px; */
  font-size: 115%;
  background-color: #000; 
  color: #c08e8e; 
  border: 0px solid #000;
}


.button111:hover {
 background-color: #000;
  color: oldlace;
   border: 0px solid #000;
}
.button1111 {

font-size: 9pt;
  margin-top: 0%;
  margin-bottom: 0%;
  display: inline-block;
  cursor: crosshair;
  /* padding: 0px 0px; */
  font-size: 0%;
  background-color: #000; 
  color: #c08e8e; 
  border: 0px solid #000;
}


.button111:hover {
 background-color: #000;
  color: oldlace;
   border: 0px solid #000;
}

.button12 {
font-family: monospace;
font-weight: 900px;
  margin-top: 0%;
  margin-bottom: 0%;
  display: inline-block;
  cursor: crosshair;
  padding: 1px 1px;
  font-size: 100%;
  background-color: #000; 
  color: #c08e8e; 
  border: 1px solid #2F2F2F;
  padding: 3px;
}
.button12:hover {
 background-color: #000;
  color: white;
  color: #373737;
  border: 1px solid #080808;
}

footer {
   position: fixed;
   width: 100%;
   bottom: 0%;
   left: 50%;
   transform: translate(-50%, 0);
   padding-left: 400px;
   padding-right: 1%;
   padding-bottom: 1%;
   background-color: #000; 
}
artical {
   position: fixed;
   width: 100%;
   bottom: 0%;
   left: 50%;
   transform: translate(-50%, 0);
   padding-left: 217px;
   padding-right: 1%;
   padding-bottom: 1%;
   background-color: #000; 
}
/* ARTICAL                      */
/*artical {
text-align: center;
}                               */

/*LINKS*/
a
{
background: #000;
color:  #282a2e;
text-align: left;
font-family: monospace;
font-weight: 400px;
font-size: pt;
}

/* h1 */
h1
{
background: #000000; 
color: #c08e8e;
font-family: monospace;
font-weight: 400px;
font-size: 9pt;
}

/* nav */
nav {
   background-color: #000; 
   position: fixed;
   padding-bottom: 0px; 
padding-top: 0px; 
padding-left: 375px;
padding-right: 375px;
   transform: translate(-11%, 0);
}

h9{
background: #000000; 
color: #c08e8e;
font-family: monospace;
font-weight: 0px;
font-size: 8pt;
margin-left: 120px;
}
h2{
background: #000000; 
color: #c08e8e;
font-family: monospace;
font-weight: 0px;
font-size: 8pt;
padding-left: 112px;
padding-right: 112px;
}
table{
   text-align: left;
   font-family: monospace;
   font-weight: 0;
   font-size: 8pt;
   padding-left: 185px;
   text-align: left;
  padding-left: 130px;
   padding-top: 14px;
}
thead {
text-align: left;
}
/* section */
section {
text-align: left;
font-family: monospace;
font-weight: 400;
font-size: 9pt;
position: fixed;
transform: translate(-50%, 0);
background-color: #000; 
padding-left: 375px;
padding-top: 00px;
}

a {
      color: black;
      text-decoration: none;
      cursor: crosshair;
    }	
     a2 {
      color: black;
      text-decoration: none;
      cursor: crosshair;
    }

button2 {
  display: inline-block;
  cursor: pointer;
  padding: 9px 18px;
  font-size: 9px;
  background-color: #181714; 
  color: #754f4f; 
  /*border: 2px solid #754f4f;*/
}

pre {
   text-align: left;
   font-family: monospace;
   font:weight: 0;
   font-size: 8pt;
   padding-left: 185px;
   text-align: left;
  padding-left: 0px;
}
/*
.button2:hover {
  background-color: #754f4f;
  color: #181714;
}
*/